.App {
  text-align: center;
  background-color: #282c34;
  height: 90%;
  color: oldlace;
}

.container-login {
  height: 80vh;
  border-top: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
  margin-top: 50px;
}

.tab-container {
  display: flex;
  justify-content: flex-end;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: oldlace;
  border-top: 2px solid grey;
  z-index: 0;
}

.App-header-login {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: oldlace;
  border-top: 2px solid grey;
  z-index: 0;
}

.tab {
  background-color: transparent;
  color: oldlace;
  margin: 0px 10px;
  margin-top: 10px;
  height: 8vmin;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tab-selected {
  background-color: grey;
  color: black;
  margin: 0px 10px;
  margin-top: 10px;
  height: 8vmin;
  border: 2px solid grey;
  border-radius: 5px;

  cursor: pointer;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 99;
}

.tab:hover {
  color: black;
  background-color: blanchedalmond;
}

.tab:disabled:hover {
  background-color: transparent;
  color: oldlace;
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
  /* color: papayawhip; */
}

.container-chart {
  height: 50vh;
  width: 70vw;
}

.login {
  background-color: oldlace;
  color: #282c34;
  margin: auto;

  height: 8vmin;
  /* width: 12vmin; */
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  color: oldlace;
  background-color: #646e82;
}

@media only screen and (max-width: 600px) {
  .container-chart {
    height: 50vh;
    width: 100vw;
  }

  .login {
    background-color: oldlace;
    color: #282c34;
    margin: auto;

    height: 10vh;
    width: 80vw;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-top: 50px;
  }
}
